/* 
    General Styles
*/
.navbararea{
background-color: #000;
  border-top: 1px solid #343434;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-sizing: border-box;
  display: block;
  height: auto;
  left: 0;
  opacity: 1;
  overflow: visible;
  padding: 0;
  position: relative;
  transform: translate3d(0,0,0);
  transition: border-width 200ms;
  vertical-align: top;
  visibility: visible;
  width: 100%;
  z-index: -1;
}


a{
    color: #aaa;
    text-decoration: none;
}

a:hover{
    color:white;
    text-decoration: none;
}

.navitem{
border-left: 1px solid #333;
  box-sizing: border-box;
  color: #aaa;
  display: table-cell;
  font-family: "DIN Next W01 Regular",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  line-height: 1rem;
  margin: 13px 0 9px;
  padding: 4px 32px;
  position: relative;
  vertical-align: middle;
  width: auto;
}